events/2020.09.Online/TDs/NHK/flows_nhk_plugfest202009.json
[{"id":"429fdfa9.0eff","type":"tab","label":"flows for Hybridcast TV API","disabled":false,"info":""},{"id":"805b79d.1f46e88","type":"template","z":"429fdfa9.0eff","name":"app2020 on NHK G","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32736,\n        \"transport_stream_id\": 32736,\n        \"service_id\": 1024\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"http://192.168.30.130/ait/tpac2020_gtv.ait\",\n        \"orgid\": 16,\n        \"appid\": 1\n    },\n    \"mode\": \"app\"\n}","output":"json","x":430,"y":80,"wires":[["ead5f72b.ad90b8"]]},{"id":"771c4c7b.94e5b4","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":80,"wires":[["805b79d.1f46e88"]]},{"id":"ead5f72b.ad90b8","type":"invoke-action","z":"429fdfa9.0eff","name":"startAIT (invoke)","topic":"","thing":"483e891c.87db18","action":"startAIT","x":880,"y":140,"wires":[["dd83da80.b6da38"]]},{"id":"dd83da80.b6da38","type":"debug","z":"429fdfa9.0eff","name":"startAIT_response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1110,"y":240,"wires":[]},{"id":"43f2dcea.05e2d4","type":"template","z":"429fdfa9.0eff","name":"app2019 on NHK E","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32737,\n        \"transport_stream_id\": 32737,\n        \"service_id\": 1032\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"http://192.168.30.130/ait/tpac2019.ait\",\n        \"orgid\": 16,\n        \"appid\": 2\n    },\n    \"mode\": \"app\"\n}","output":"json","x":430,"y":120,"wires":[["ead5f72b.ad90b8"]]},{"id":"28ac476e.917008","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":120,"wires":[["43f2dcea.05e2d4"]]},{"id":"45bb0a5e.858de4","type":"template","z":"429fdfa9.0eff","name":"(NHK G) \"service_id\": 1024,\"transport_stream_id\": 32736, \"original_network_id\": 32736","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32736,\n        \"transport_stream_id\": 32736,\n        \"service_id\": 1024\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"\",\n        \"orgid\": 16,\n        \"appid\": 1\n    },\n    \"mode\": \"tune\"\n}","output":"json","x":640,"y":220,"wires":[["ead5f72b.ad90b8"]]},{"id":"61ef1a1a.8ed444","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["45bb0a5e.858de4"]]},{"id":"914e796a.a3a7b8","type":"template","z":"429fdfa9.0eff","name":"(NHK E) \"service_id\": 1032,\"transport_stream_id\": 32737,\"original_network_id\": 32737","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32737,\n        \"transport_stream_id\": 32737,\n        \"service_id\": 1032\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"\",\n        \"orgid\": 16,\n        \"appid\": 1\n    },\n    \"mode\": \"tune\"\n}","output":"json","x":640,"y":260,"wires":[["ead5f72b.ad90b8"]]},{"id":"5159cf44.a04eb","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["914e796a.a3a7b8"]]},{"id":"3b7f1c52.c692a4","type":"read-property","z":"429fdfa9.0eff","d":true,"name":"receiverStatus (10s loop)","topic":"","thing":"483e891c.87db18","property":"receiverStatus","interval":"10","observe":false,"x":190,"y":387,"wires":[["74fab322.0d199c"]]},{"id":"5f901476.38c3ec","type":"comment","z":"429fdfa9.0eff","name":"Launch Hybridcast App","info":"","x":140,"y":40,"wires":[]},{"id":"8e8c8bd5.38d698","type":"comment","z":"429fdfa9.0eff","name":"Tune HybridcastTV","info":"","x":130,"y":180,"wires":[]},{"id":"b3f9bec6.1699d","type":"comment","z":"429fdfa9.0eff","name":"Get TV Status","info":"","x":110,"y":307,"wires":[]},{"id":"f7b7a933.9fd4d8","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-web-of-things","info":"","x":910,"y":100,"wires":[]},{"id":"97acaecc.ca3c","type":"debug","z":"429fdfa9.0eff","name":"text from HybridcastTV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":640,"wires":[]},{"id":"9a16a5f4.810d98","type":"comment","z":"429fdfa9.0eff","name":"Message from Hybridcast TV","info":"","x":160,"y":560,"wires":[]},{"id":"f338cffd.124ba","type":"comment","z":"429fdfa9.0eff","name":"(TV Stream Emulation) Let Hybridcast TV send text","info":"","x":230,"y":740,"wires":[]},{"id":"96c98000.37793","type":"websocket out","z":"429fdfa9.0eff","name":"Control Emulator","server":"","client":"d7da6212.0a0de","x":850,"y":780,"wires":[]},{"id":"b32939ad.fe4da8","type":"template","z":"429fdfa9.0eff","name":"Text Message to be emitted from Hybridcast TV","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"message\":\n    {\n        \"devid\":\"hcex\",\n        \"sendTextToHostDevice\": {\n            \"text\": \"test form node-red\"\n        }\n    }\n}","output":"json","x":500,"y":780,"wires":[["96c98000.37793"]]},{"id":"3c0f4a34.a22e26","type":"inject","z":"429fdfa9.0eff","name":"sendtext emulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":780,"wires":[["b32939ad.fe4da8"]]},{"id":"8457f817.5f4028","type":"wothybridcastconnectreceiver","z":"429fdfa9.0eff","interactiontype":"event","propname":"","proptype":"","actname":"","evname":"hybridcastCompanionConnectListener","formindex":0,"name":"","x":320,"y":640,"wires":[["97acaecc.ca3c"]]},{"id":"721a8995.12b4e8","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-web-of-things","info":"","x":210,"y":347,"wires":[]},{"id":"eb855e3b.a523a","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-nodegen","info":"","x":190,"y":600,"wires":[]},{"id":"fbe952d.325e4b","type":"wothybridcastconnectreceiver","z":"429fdfa9.0eff","interactiontype":"property","propname":"receiverStatus","proptype":"read","actname":"","evname":"","formindex":0,"name":"","x":510,"y":487,"wires":[["74fab322.0d199c","713bca0e.d06c54"]]},{"id":"74fab322.0d199c","type":"debug","z":"429fdfa9.0eff","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.body.status.resource","targetType":"msg","x":970,"y":460,"wires":[]},{"id":"e146a534.243658","type":"inject","z":"429fdfa9.0eff","d":true,"name":"getStatus (10s loop)","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":487,"wires":[["fbe952d.325e4b"]]},{"id":"975d8006.2c5c6","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-web-of-things","info":"","x":210,"y":447,"wires":[]},{"id":"713bca0e.d06c54","type":"debug","z":"429fdfa9.0eff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.body.status.hybridcast","targetType":"msg","x":960,"y":500,"wires":[]},{"id":"483e891c.87db18","type":"consumed-thing","z":"","tdLink":"http://192.168.30.132:8887/td/nhktv.jsonld","td":"{\r\n  \"@context\": [\r\n    \"https://www.w3.org/2019/wot/td/v1\",\r\n    {\r\n      \"iot\": \"http://iotschema.org/\",\r\n      \"htv\": \"http://www.w3.org/2011/http#\",\r\n      \"om\": \"http://www.wurvoc.org/vocabularies/om-1.8/\"\r\n    }\r\n  ],\r\n  \"@type\": \"Thing\",\r\n  \"title\": \"HybridcastConnectReceiver\",\r\n  \"titles\": {\r\n    \"en\": \"HybridcastConnectReceiver\",\r\n    \"ja\": \"ハイコネプロトコル対応受信機\"\r\n  },\r\n  \"description\": \"HybridcastConnectEmulator:Antwapp\",\r\n  \"descriptions\": {\r\n    \"en\": \"HybridcastConnectEmulator:Antwapp\",\r\n    \"ja\": \"ハイコネエミュレーター\"\r\n  },\r\n  \"id\": \"URN:nhkrd:antwapp\",\r\n  \"securityDefinitions\": {\r\n    \"nosec_sc\": {\r\n      \"scheme\": \"nosec\"\r\n    }\r\n  },\r\n  \"security\": [\"nosec_sc\"],\r\n  \"properties\": {\r\n    \"receiverStatus\":{\r\n      \"title\": \"HybridcastReceiveStatus\",\r\n      \"titles\": {\r\n        \"en\": \"HybridcastReceiverStatus\",\r\n        \"ja\": \"受信機状態\"\r\n      },\r\n      \"description\": \"HybridcastReceiverStatus\",\r\n      \"descriptions\": {\r\n        \"en\": \"HybridcastReceiverStatus\",\r\n        \"ja\": \"受信機状態\"\r\n      },\r\n      \"properties\" :{\r\n        \"head\":{\"type\":\"object\", \"properties\":{\"code\":{},\"message\":{}}},\r\n        \"body\":{\"type\":\"object\", \"properties\":{\r\n          \"status\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"hybridcast\": {\r\n                \"type\": \"string\",\r\n                \"title\": \"The status of Hybridcast Browser\",\r\n                \"enum\": [ \"NotStarted\", \"Running\" ]\r\n              },\r\n              \"companion_apps\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The number of Companion_apps\"\r\n              },\r\n              \"resource\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"original_network_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"The Original_network_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  },\r\n                  \"transport_stream_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"The Transport_stream_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  },\r\n                  \"service_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"Service_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  }\r\n                }\r\n              }\r\n            }\r\n          }\r\n        }\r\n        }\r\n      },\r\n      \"forms\" : [{\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/status\",\r\n        \"contentType\": \"application/json\",\r\n        \"htv:methodName\": \"GET\"\r\n      }]\r\n    }\r\n  },\r\n  \"actions\": {\r\n    \"startAIT\": {\r\n      \"forms\": [{\r\n        \"op\": \"invokeaction\",\r\n        \"contentType\": \"application/json\",\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/hybridcast{?mode}\",\r\n        \"htv:methodName\": \"POST\"\r\n      }],\r\n      \"input\": {\r\n        \"type\": \"object\",\r\n        \"properties\": {\r\n          \"resource\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"original_network_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Original_network_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"transport_stream_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Transport_stream_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"service_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Service_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              }\r\n            }\r\n          },\r\n          \"hybridcast\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"aiturl\": {\r\n                \"type\": \"string\",\r\n                \"title\": \"The Aiturl Schema\"\r\n              },\r\n              \"orgid\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Orgid Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"appid\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Appid Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 4294967295\r\n              }\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"uriVariables\": {\r\n        \"mode\": {\r\n          \"title\": \"launchmode: \",\r\n          \"type\": \"string\",\r\n          \"enum\": [\"tune\", \"app\"]\r\n        }\r\n      }\r\n\r\n    }\r\n  },\r\n  \"events\": {\r\n    \"hybridcastCompanionConnectListener\": {\r\n      \"title\": \"Message is emitted.\",\r\n      \"titles\": {\r\n        \"en\": \"Message is emitted.\",\r\n        \"ja\": \"メッセージが送出された．\"\r\n      },\r\n      \"data\": {\r\n        \"type\": \"object\"\r\n      },\r\n      \"properties\": {\r\n        \"value\": {\r\n          \"type\": \"number\"\r\n        }\r\n      },\r\n      \"forms\": [\r\n        {\r\n          \"href\": \"ws://192.168.30.132:8887/antwapp/websocket\",\r\n          \"op\": \"subscribeevent\",\r\n          \"contentType\": \"application/json\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}","http":true,"coap":false,"mqtt":false},{"id":"d7da6212.0a0de","type":"websocket-client","z":"","path":"ws://192.168.30.132:8887/antwapp/websocket","tls":"","wholemsg":"false"}]