events/2020.09.Online/TDs/NHK/flows_nhk_plugfest202009.json
[{"id":"429fdfa9.0eff","type":"tab","label":"flows for Hybridcast TV API","disabled":false,"info":""},{"id":"805b79d.1f46e88","type":"template","z":"429fdfa9.0eff","name":"app2020 on NHK G","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32736,\n        \"transport_stream_id\": 32736,\n        \"service_id\": 1024\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"http://192.168.30.130/ait/tpac2020_gtv.ait\",\n        \"orgid\": 16,\n        \"appid\": 1\n    },\n    \"mode\": \"app\"\n}","output":"json","x":430,"y":340,"wires":[["ead5f72b.ad90b8"]]},{"id":"771c4c7b.94e5b4","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":340,"wires":[["805b79d.1f46e88"]]},{"id":"ead5f72b.ad90b8","type":"invoke-action","z":"429fdfa9.0eff","name":"startAIT (invoke)","topic":"","thing":"483e891c.87db18","action":"startAIT","x":800,"y":360,"wires":[["dd83da80.b6da38"]]},{"id":"dd83da80.b6da38","type":"debug","z":"429fdfa9.0eff","name":"startAIT_response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1030,"y":360,"wires":[]},{"id":"43f2dcea.05e2d4","type":"template","z":"429fdfa9.0eff","name":"app2019 on NHK E","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32737,\n        \"transport_stream_id\": 32737,\n        \"service_id\": 1032\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"http://192.168.30.130/ait/tpac2019.ait\",\n        \"orgid\": 16,\n        \"appid\": 2\n    },\n    \"mode\": \"app\"\n}","output":"json","x":430,"y":380,"wires":[["ead5f72b.ad90b8"]]},{"id":"28ac476e.917008","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":380,"wires":[["43f2dcea.05e2d4"]]},{"id":"45bb0a5e.858de4","type":"template","z":"429fdfa9.0eff","name":"(NHK G) \"service_id\": 1024,\"transport_stream_id\": 32736, \"original_network_id\": 32736","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32736,\n        \"transport_stream_id\": 32736,\n        \"service_id\": 1024\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"\",\n        \"orgid\": 16,\n        \"appid\": 1\n    },\n    \"mode\": \"tune\"\n}","output":"json","x":640,"y":220,"wires":[["ead5f72b.ad90b8"]]},{"id":"61ef1a1a.8ed444","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":220,"wires":[["45bb0a5e.858de4"]]},{"id":"914e796a.a3a7b8","type":"template","z":"429fdfa9.0eff","name":"(NHK E) \"service_id\": 1032,\"transport_stream_id\": 32737,\"original_network_id\": 32737","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"resource\": {\n        \"original_network_id\": 32737,\n        \"transport_stream_id\": 32737,\n        \"service_id\": 1032\n    },\n    \"hybridcast\": {\n        \"aiturl\": \"\",\n        \"orgid\": 16,\n        \"appid\": 1\n    },\n    \"mode\": \"tune\"\n}","output":"json","x":640,"y":260,"wires":[["ead5f72b.ad90b8"]]},{"id":"5159cf44.a04eb","type":"inject","z":"429fdfa9.0eff","name":"LaunchHybridcastApp","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":260,"wires":[["914e796a.a3a7b8"]]},{"id":"3b7f1c52.c692a4","type":"read-property","z":"429fdfa9.0eff","d":true,"name":"receiverStatus (10s loop)","topic":"","thing":"483e891c.87db18","property":"receiverStatus","interval":"10","observe":false,"x":190,"y":540,"wires":[["74fab322.0d199c"]]},{"id":"5f901476.38c3ec","type":"comment","z":"429fdfa9.0eff","name":"Launch Hybridcast App","info":"","x":140,"y":300,"wires":[]},{"id":"8e8c8bd5.38d698","type":"comment","z":"429fdfa9.0eff","name":"Tune HybridcastTV","info":"","x":130,"y":180,"wires":[]},{"id":"b3f9bec6.1699d","type":"comment","z":"429fdfa9.0eff","name":"Get TV Status","info":"","x":110,"y":460,"wires":[]},{"id":"f7b7a933.9fd4d8","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-web-of-things","info":"","x":830,"y":320,"wires":[]},{"id":"97acaecc.ca3c","type":"debug","z":"429fdfa9.0eff","name":"text from HybridcastTV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":700,"y":800,"wires":[]},{"id":"9a16a5f4.810d98","type":"comment","z":"429fdfa9.0eff","name":"Message from Hybridcast TV","info":"","x":160,"y":720,"wires":[]},{"id":"f338cffd.124ba","type":"comment","z":"429fdfa9.0eff","name":"(Emulation) Message from Broadcasters","info":"","x":170,"y":1020,"wires":[]},{"id":"96c98000.37793","type":"websocket out","z":"429fdfa9.0eff","name":"Control Emulator","server":"","client":"d7da6212.0a0de","x":790,"y":1100,"wires":[]},{"id":"3c0f4a34.a22e26","type":"inject","z":"429fdfa9.0eff","name":"sendtext emulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1060,"wires":[["2620cd17.3a7d82"]]},{"id":"8457f817.5f4028","type":"wothybridcastconnectreceiver","z":"429fdfa9.0eff","interactiontype":"event","propname":"","proptype":"","actname":"","evname":"hybridcastCompanionConnectListener","formindex":0,"name":"","x":320,"y":800,"wires":[["97acaecc.ca3c","4bba7214.a956fc"]]},{"id":"721a8995.12b4e8","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-web-of-things","info":"","x":210,"y":500,"wires":[]},{"id":"eb855e3b.a523a","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-nodegen","info":"","x":190,"y":760,"wires":[]},{"id":"fbe952d.325e4b","type":"wothybridcastconnectreceiver","z":"429fdfa9.0eff","interactiontype":"property","propname":"receiverStatus","proptype":"read","actname":"","evname":"","formindex":0,"name":"","x":510,"y":640,"wires":[["74fab322.0d199c","713bca0e.d06c54"]]},{"id":"74fab322.0d199c","type":"debug","z":"429fdfa9.0eff","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload.body.status.resource","targetType":"msg","x":970,"y":620,"wires":[]},{"id":"e146a534.243658","type":"inject","z":"429fdfa9.0eff","d":true,"name":"getStatus (10s loop)","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":640,"wires":[["fbe952d.325e4b"]]},{"id":"975d8006.2c5c6","type":"comment","z":"429fdfa9.0eff","name":"node-red-contrib-web-of-things","info":"","x":210,"y":600,"wires":[]},{"id":"713bca0e.d06c54","type":"debug","z":"429fdfa9.0eff","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.body.status.hybridcast","targetType":"msg","x":960,"y":660,"wires":[]},{"id":"a1b70e2a.4ce0e","type":"json","z":"429fdfa9.0eff","name":"","property":"payload","action":"","pretty":false,"x":210,"y":920,"wires":[["336ecfb3.941e6"]]},{"id":"4bba7214.a956fc","type":"change","z":"429fdfa9.0eff","name":"(Hybridcast)sendTextToCompanionDevice","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.message.sendTextToCompanionDevice.text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":880,"wires":[["a1b70e2a.4ce0e"]]},{"id":"336ecfb3.941e6","type":"switch","z":"429fdfa9.0eff","name":"MessageType","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"notification","vt":"str"},{"t":"eq","v":"alert","vt":"str"},{"t":"eq","v":"ledStatus","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":660,"y":920,"wires":[["13e2973e.01ede9"],["26c58794.e45c28"],["9b8fa2.356d006"]]},{"id":"13e2973e.01ede9","type":"invoke-action","z":"429fdfa9.0eff","name":"Notification for Player Emulator","topic":"","thing":"61672de8.e36d04","action":"notification","x":1010,"y":860,"wires":[[]]},{"id":"9ace2951.c59848","type":"inject","z":"429fdfa9.0eff","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":100,"wires":[["caf7b3c2.415a5"]]},{"id":"b618d509.5388e8","type":"read-property","z":"429fdfa9.0eff","d":true,"name":"receiverStatus (10s loop)","topic":"","thing":"a116d2f5.8318f","property":"media","interval":"30","observe":false,"x":150,"y":60,"wires":[["cef7b457.3bc388","51df71e6.c593a","94be528c.9b237"]]},{"id":"cef7b457.3bc388","type":"debug","z":"429fdfa9.0eff","name":"availableChannels[0]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.body.media.0.channels[0]","targetType":"msg","x":660,"y":40,"wires":[]},{"id":"51df71e6.c593a","type":"debug","z":"429fdfa9.0eff","name":"availableChannels[1]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.body.media.0.channels[1]","targetType":"msg","x":660,"y":80,"wires":[]},{"id":"94be528c.9b237","type":"debug","z":"429fdfa9.0eff","name":"availableChannels[2]","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.body.media.0.channels[2]","targetType":"msg","x":660,"y":120,"wires":[]},{"id":"caf7b3c2.415a5","type":"wothybridcastconnectreceiver","z":"429fdfa9.0eff","interactiontype":"property","propname":"media","proptype":"read","actname":"","evname":"hybridcastCompanionConnectListener","formindex":0,"name":"","x":320,"y":100,"wires":[["cef7b457.3bc388","51df71e6.c593a","94be528c.9b237"]]},{"id":"7faa316e.1a948","type":"comment","z":"429fdfa9.0eff","name":"Get available channels","info":"","x":140,"y":20,"wires":[]},{"id":"1cfaf1e.63f360e","type":"comment","z":"429fdfa9.0eff","name":"type = notification","info":"","x":940,"y":820,"wires":[]},{"id":"7589a711.e46c88","type":"comment","z":"429fdfa9.0eff","name":"type = alert","info":"","x":920,"y":920,"wires":[]},{"id":"26c58794.e45c28","type":"invoke-action","z":"429fdfa9.0eff","name":"Alert action of Player Emulator","topic":"","thing":"61672de8.e36d04","action":"alert","x":1010,"y":960,"wires":[[]]},{"id":"9b8fa2.356d006","type":"wotmyraspiled","z":"429fdfa9.0eff","interactiontype":"property","propname":"led","proptype":"read","actname":"","evname":"","formindex":0,"name":"Hitachi LED Status","x":930,"y":1020,"wires":[["9b812cc1.5014a"]]},{"id":"9b812cc1.5014a","type":"debug","z":"429fdfa9.0eff","name":"text from HybridcastTV","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1200,"y":1020,"wires":[]},{"id":"9b3efb48.d05958","type":"template","z":"429fdfa9.0eff","name":"type = alert","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"message\":\n    {\n        \"devid\":\"hcex\",\n        \"sendTextToHostDevice\": {\n            \"text\": \"{\\\"type\\\":\\\"alert\\\",\\\"text\\\":\\\"Weather Alert\\\",\\\"url\\\":\\\"http://192.168.30.130/tpac2020/weather.html\\\"}\"\n        }\n    }\n}","output":"json","x":470,"y":1100,"wires":[["96c98000.37793"]]},{"id":"f97cec4b.9faa5","type":"inject","z":"429fdfa9.0eff","name":"sendtext emulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1100,"wires":[["9b3efb48.d05958"]]},{"id":"86436c29.65aa9","type":"inject","z":"429fdfa9.0eff","name":"sendtext emulation","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":1140,"wires":[["ffe9f888.04a7d8"]]},{"id":"ffe9f888.04a7d8","type":"template","z":"429fdfa9.0eff","name":"type = ledStatus","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"message\":\n    {\n        \"devid\":\"hcex\",\n        \"sendTextToHostDevice\": {\n            \"text\": \"{\\\"type\\\":\\\"ledStatus\\\",\\\"text\\\":\\\"Check Led Status!\\\",\\\"url\\\":\\\"http://192.168.30.130/tpac2020/index.html\\\"}\"\n        }\n    }\n}","output":"json","x":480,"y":1140,"wires":[["96c98000.37793"]]},{"id":"c7220ca.99c23f","type":"inject","z":"429fdfa9.0eff","name":"sendtext emulation (keepalive 10s loop )","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1180,"wires":[["b0dcfe01.481dd"]]},{"id":"ca868041.4e951","type":"wotmyraspiled","z":"429fdfa9.0eff","d":true,"interactiontype":"event","propname":"led","proptype":"read","actname":"","evname":"toggled","formindex":0,"name":"Hitachi LED Toggle Event","x":330,"y":420,"wires":[["43f2dcea.05e2d4"]]},{"id":"b0dcfe01.481dd","type":"template","z":"429fdfa9.0eff","name":"type = keepAlive","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"message\":\n    {\n        \"devid\":\"hcex\",\n        \"sendTextToHostDevice\": {\n            \"text\": \"{\\\"type\\\":\\\"keepAlive\\\",\\\"text\\\":\\\"message from broadcasters\\\",\\\"status\\\":\\\"1\\\",\\\"url\\\":\\\"http://192.168.30.130/tpac2020/index.html\\\"}\"\n        }\n    }\n}","output":"json","x":480,"y":1180,"wires":[["96c98000.37793"]]},{"id":"9263f1fe.47399","type":"comment","z":"429fdfa9.0eff","name":"User-side process","info":"","x":650,"y":860,"wires":[]},{"id":"ba949d03.5e1d8","type":"websocket in","z":"429fdfa9.0eff","name":"","server":"4b009fbe.80fbc","client":"","x":590,"y":480,"wires":[["3b9cb898.f95eb8"]]},{"id":"3b9cb898.f95eb8","type":"debug","z":"429fdfa9.0eff","name":"startAIT_response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":460,"wires":[]},{"id":"b475b5ad.6614e8","type":"template","z":"429fdfa9.0eff","name":"type = notification","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"message\":\n    {\n        \"devid\":\"hcex\",\n        \"sendTextToHostDevice\": {\n            \"text\": \"{\\\"type\\\":\\\"notification\\\",\\\"text\\\":\\\"Don't miss your favorite\\\\n'Table Tennis' program!\\\",\\\"status\\\":\\\"1\\\",\\\"url\\\":\\\"http://192.168.30.130/tpac2020/index.html\\\"}\"\n        }\n    }\n}","output":"json","x":510,"y":1000,"wires":[[]]},{"id":"2620cd17.3a7d82","type":"template","z":"429fdfa9.0eff","name":"type = notification","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \"message\":\n    {\n        \"devid\":\"hcex\",\n        \"sendTextToHostDevice\": {\n            \"text\": \"{\\\"type\\\":\\\"notification\\\", \\\"text\\\":\\\"Don't miss your favorite\\\\n'Table Tennis' program!\\\",\\\"url\\\":\\\"http://192.168.30.130/tpac2020/index.html\\\"}\"\n        }\n    }\n}","output":"json","x":490,"y":1060,"wires":[["96c98000.37793"]]},{"id":"483e891c.87db18","type":"consumed-thing","z":"","tdLink":"http://192.168.30.132:8887/td/nhktv.jsonld","td":"{\r\n  \"@context\": [\r\n    \"https://www.w3.org/2019/wot/td/v1\",\r\n    {\r\n      \"iot\": \"http://iotschema.org/\",\r\n      \"htv\": \"http://www.w3.org/2011/http#\",\r\n      \"om\": \"http://www.wurvoc.org/vocabularies/om-1.8/\"\r\n    }\r\n  ],\r\n  \"@type\": \"Thing\",\r\n  \"title\": \"HybridcastConnectReceiver\",\r\n  \"titles\": {\r\n    \"en\": \"HybridcastConnectReceiver\",\r\n    \"ja\": \"ハイコネプロトコル対応受信機\"\r\n  },\r\n  \"description\": \"HybridcastConnectEmulator:Antwapp\",\r\n  \"descriptions\": {\r\n    \"en\": \"HybridcastConnectEmulator:Antwapp\",\r\n    \"ja\": \"ハイコネエミュレーター\"\r\n  },\r\n  \"id\": \"URN:nhkrd:antwapp\",\r\n  \"securityDefinitions\": {\r\n    \"nosec_sc\": {\r\n      \"scheme\": \"nosec\"\r\n    }\r\n  },\r\n  \"security\": [\"nosec_sc\"],\r\n  \"properties\": {\r\n    \"receiverStatus\":{\r\n      \"title\": \"HybridcastReceiveStatus\",\r\n      \"titles\": {\r\n        \"en\": \"HybridcastReceiverStatus\",\r\n        \"ja\": \"受信機状態\"\r\n      },\r\n      \"description\": \"HybridcastReceiverStatus\",\r\n      \"descriptions\": {\r\n        \"en\": \"HybridcastReceiverStatus\",\r\n        \"ja\": \"受信機状態\"\r\n      },\r\n      \"properties\" :{\r\n        \"head\":{\"type\":\"object\", \"properties\":{\"code\":{},\"message\":{}}},\r\n        \"body\":{\"type\":\"object\", \"properties\":{\r\n          \"status\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"hybridcast\": {\r\n                \"type\": \"string\",\r\n                \"title\": \"The status of Hybridcast Browser\",\r\n                \"enum\": [ \"NotStarted\", \"Running\" ]\r\n              },\r\n              \"companion_apps\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The number of Companion_apps\"\r\n              },\r\n              \"resource\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"original_network_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"The Original_network_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  },\r\n                  \"transport_stream_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"The Transport_stream_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  },\r\n                  \"service_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"Service_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  }\r\n                }\r\n              }\r\n            }\r\n          }\r\n        }\r\n        }\r\n      },\r\n      \"forms\" : [{\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/status\",\r\n        \"contentType\": \"application/json\",\r\n        \"htv:methodName\": \"GET\"\r\n      }]\r\n    }\r\n  },\r\n  \"actions\": {\r\n    \"startAIT\": {\r\n      \"forms\": [{\r\n        \"op\": \"invokeaction\",\r\n        \"contentType\": \"application/json\",\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/hybridcast{?mode}\",\r\n        \"htv:methodName\": \"POST\"\r\n      }],\r\n      \"input\": {\r\n        \"type\": \"object\",\r\n        \"properties\": {\r\n          \"resource\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"original_network_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Original_network_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"transport_stream_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Transport_stream_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"service_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Service_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              }\r\n            }\r\n          },\r\n          \"hybridcast\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"aiturl\": {\r\n                \"type\": \"string\",\r\n                \"title\": \"The Aiturl Schema\"\r\n              },\r\n              \"orgid\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Orgid Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"appid\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Appid Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 4294967295\r\n              }\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"uriVariables\": {\r\n        \"mode\": {\r\n          \"title\": \"launchmode: \",\r\n          \"type\": \"string\",\r\n          \"enum\": [\"tune\", \"app\"]\r\n        }\r\n      }\r\n\r\n    }\r\n  },\r\n  \"events\": {\r\n    \"hybridcastCompanionConnectListener\": {\r\n      \"title\": \"Message is emitted.\",\r\n      \"titles\": {\r\n        \"en\": \"Message is emitted.\",\r\n        \"ja\": \"メッセージが送出された．\"\r\n      },\r\n      \"data\": {\r\n        \"type\": \"object\"\r\n      },\r\n      \"properties\": {\r\n        \"value\": {\r\n          \"type\": \"number\"\r\n        }\r\n      },\r\n      \"forms\": [\r\n        {\r\n          \"href\": \"ws://192.168.30.132:8887/antwapp/websocket\",\r\n          \"op\": \"subscribeevent\",\r\n          \"contentType\": \"application/json\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}","http":true,"coap":false,"mqtt":false},{"id":"d7da6212.0a0de","type":"websocket-client","z":"","path":"ws://192.168.30.132:8887/antwapp/websocket","tls":"","wholemsg":"false"},{"id":"61672de8.e36d04","type":"consumed-thing","z":"","tdLink":"http://192.168.30.130/tpac2020/td/app30_133.jsonld","td":"{ \t\"@context\": \"https://www.w3.org/2019/wot/td/v1\", \t\"id\": \"urn:dev:ops:32473-WoTPhone2-1234\", \t\"title\": \"MyPhoneThing3\", \t\"securityDefinitions\": { \t\t\"nosec_sc\": { \t\t\t\"scheme\": \"nosec\" \t\t} \t}, \t\"security\": [\"nosec_sc\"], \t\"actions\": { \t\t\"notification\": { \t\t\t\"forms\": [{ \t\t\t\t\"op\": \"invokeaction\", \t\t\t\t\"contentType\": \"application/json\", \t\t\t\t\"href\": \"http://192.168.30.133:8888/notification\" \t\t\t}] \t\t}, \t\t\"alert\": { \t\t\t\"forms\": [{ \t\t\t\t\"op\": \"invokeaction\", \t\t\t\t\"contentType\": \"application/json\", \t\t\t\t\"href\": \"http://192.168.30.133:8888/alert\" \t\t\t}] \t\t}, \t\t\"matchDescription\": { \t\t\t\"forms\": [{ \t\t\t\t\"op\": \"invokeaction\", \t\t\t\t\"contentType\": \"application/json\", \t\t\t\t\"href\": \"http://192.168.30.133:8888/matchDescription\" \t\t\t}] \t\t}, \t\t\"closedCaption\": { \t\t\t\"forms\": [{ \t\t\t\t\"op\": \"invokeaction\", \t\t\t\t\"contentType\": \"application/json\", \t\t\t\t\"href\": \"http://192.168.30.133:8888/closedCaption\" \t\t\t}] \t\t}, \t\t\"action\": { \t\t\t\"forms\": [{ \t\t\t\t\"op\": \"invokeaction\", \t\t\t\t\"contentType\": \"application/json\", \t\t\t\t\"href\": \"http://192.168.30.133:8888/action\" \t\t\t}] \t\t} \t} }","http":true,"coap":false,"mqtt":false},{"id":"a116d2f5.8318f","type":"consumed-thing","z":"","tdLink":"http://192.168.30.130/tpac2020/td/antwappSimple.json","td":"{\r\n  \"@context\": [\r\n    \"https://www.w3.org/2019/wot/td/v1\",\r\n    {\r\n      \"iot\": \"http://iotschema.org/\",\r\n      \"htv\": \"http://www.w3.org/2011/http#\",\r\n      \"om\": \"http://www.wurvoc.org/vocabularies/om-1.8/\"\r\n    }\r\n  ],\r\n  \"@type\": \"Thing\",\r\n  \"title\": \"HybridcastConnectReceiver\",\r\n  \"titles\": {\r\n    \"en\": \"HybridcastConnectReceiver\",\r\n    \"ja\": \"ハイコネプロトコル対応受信機\"\r\n  },\r\n  \"description\": \"HybridcastConnectEmulator:Antwapp\",\r\n  \"descriptions\": {\r\n    \"en\": \"HybridcastConnectEmulator:Antwapp\",\r\n    \"ja\": \"ハイコネエミュレーター\"\r\n  },\r\n  \"id\": \"URN:nhkrd:antwapp\",\r\n  \"securityDefinitions\": {\r\n    \"nosec_sc\": {\r\n      \"scheme\": \"nosec\"\r\n    }\r\n  },\r\n  \"security\": [\"nosec_sc\"],\r\n  \"properties\": {\r\n    \"receiverStatus\":{\r\n      \"title\": \"HybridcastReceiveStatus\",\r\n      \"titles\": {\r\n        \"en\": \"HybridcastReceiverStatus\",\r\n        \"ja\": \"受信機状態\"\r\n      },\r\n      \"description\": \"HybridcastReceiverStatus\",\r\n      \"descriptions\": {\r\n        \"en\": \"HybridcastReceiverStatus\",\r\n        \"ja\": \"受信機状態\"\r\n      },\r\n      \"properties\" :{\r\n        \"head\":{\"type\":\"object\", \"properties\":{\"code\":{},\"message\":{}}},\r\n        \"body\":{\"type\":\"object\", \"properties\":{\r\n          \"status\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"hybridcast\": {\r\n                \"type\": \"string\",\r\n                \"title\": \"The status of Hybridcast Browser\",\r\n                \"enum\": [ \"NotStarted\", \"Running\" ]\r\n              },\r\n              \"companion_apps\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The number of Companion_apps\"\r\n              },\r\n              \"resource\": {\r\n                \"type\": \"object\",\r\n                \"properties\": {\r\n                  \"original_network_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"The Original_network_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  },\r\n                  \"transport_stream_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"The Transport_stream_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  },\r\n                  \"service_id\": {\r\n                    \"type\": \"number\",\r\n                    \"title\": \"Service_id of broadcasting\",\r\n                    \"minimum\": 0,\r\n                    \"maximum\": 65535\r\n                  }\r\n                }\r\n              }\r\n            }\r\n          }\r\n        }\r\n        }\r\n      },\r\n      \"forms\" : [{\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/status\",\r\n        \"contentType\": \"application/json\",\r\n        \"htv:methodName\": \"GET\"\r\n      }]\r\n    },\r\n    \"media\": {\r\n      \"title\": \"available media on a TV set\",\r\n      \"titles\": {\r\n        \"en\": \"available media on a TV set\",\r\n        \"ja\": \"メディア利用可否\"\r\n      },\r\n      \"description\": \"available media on a TV set\",\r\n      \"descriptions\": {\r\n        \"en\": \"available media on a TV set\",\r\n        \"ja\": \"メディア利用可否\"\r\n      },\r\n      \"properties\":{\r\n        \"head\":{\"type\":\"object\", \"properties\":{\"code\":{},\"message\":{}}},\r\n        \"body\":{\"type\":\"object\", \"properties\":{\r\n            \"created_at\": {\r\n                \"type\": \"string\",\r\n              \"title\": \"The date of the file created\"\r\n            },\r\n            \"TD\": {\r\n              \"type\": \"string\",\r\n              \"title\": \"Availability of receiving Telestrial Digital broadcasting\",\r\n              \"enum\": [ \"Available\", \"NotAvailable\" ]\r\n            },\r\n            \"BS\": {\r\n              \"type\": \"string\",\r\n              \"title\": \"Availability of receiving Broadcasting Satelite\",\r\n              \"enum\": [ \"Available\", \"NotAvailable\" ]\r\n            },\r\n            \"CS\": {\r\n              \"type\": \"string\",\r\n              \"title\": \"Availability of receiving Comunication Satelite\",\r\n              \"enum\": [ \"Available\", \"NotAvailable\" ]\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"forms\": [{\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/channels?media=TD\",\r\n        \"contentType\": \"application/json\",\r\n        \"htv:methodName\": \"GET\",\r\n        \"scopes\": [\"full_access\"]\r\n      }]\r\n    }\r\n  },\r\n  \"actions\": {\r\n    \"startAIT\": {\r\n      \"forms\": [{\r\n        \"op\": \"invokeaction\",\r\n        \"contentType\": \"application/json\",\r\n        \"href\": \"http://192.168.30.132:8887/antwapp/tvcontrol/hybridcast{?mode}\",\r\n        \"htv:methodName\": \"POST\"\r\n      }],\r\n      \"input\": {\r\n        \"type\": \"object\",\r\n        \"properties\": {\r\n          \"resource\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"original_network_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Original_network_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"transport_stream_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Transport_stream_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"service_id\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Service_id Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              }\r\n            }\r\n          },\r\n          \"hybridcast\": {\r\n            \"type\": \"object\",\r\n            \"properties\": {\r\n              \"aiturl\": {\r\n                \"type\": \"string\",\r\n                \"title\": \"The Aiturl Schema\"\r\n              },\r\n              \"orgid\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Orgid Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 65535\r\n              },\r\n              \"appid\": {\r\n                \"type\": \"number\",\r\n                \"title\": \"The Appid Schema\",\r\n                \"minimum\": 0,\r\n                \"maximum\": 4294967295\r\n              }\r\n            }\r\n          }\r\n        }\r\n      },\r\n      \"uriVariables\": {\r\n        \"mode\": {\r\n          \"title\": \"launchmode: \",\r\n          \"type\": \"string\",\r\n          \"enum\": [\"tune\", \"app\"]\r\n        }\r\n      }\r\n\r\n    }\r\n  },\r\n  \"events\": {\r\n    \"hybridcastCompanionConnectListener\": {\r\n      \"title\": \"Message is emitted.\",\r\n      \"titles\": {\r\n        \"en\": \"Message is emitted.\",\r\n        \"ja\": \"メッセージが送出された．\"\r\n      },\r\n      \"data\": {\r\n        \"type\": \"object\"\r\n      },\r\n      \"properties\": {\r\n        \"value\": {\r\n          \"type\": \"number\"\r\n        }\r\n      },\r\n      \"forms\": [\r\n        {\r\n          \"href\": \"ws://192.168.30.132:8887/antwapp/websocket\",\r\n          \"op\": \"subscribeevent\",\r\n          \"contentType\": \"application/json\"\r\n        }\r\n      ]\r\n    }\r\n  }\r\n}","http":true,"coap":false,"mqtt":false},{"id":"4b009fbe.80fbc","type":"websocket-listener","z":"","path":"ws://ktorpi.local:1880/ws/toggled","wholemsg":"false"}]
